body {
    background-color: #fffbf2;
}

.fondoCeleste {
    background-color: #A1CCD1;
}

.navegador {
    font-family: 'Poppins', sans-serif;
    color: white;
}

a.navbar-brand:hover {
    color: white;
    /* Evita que se ponga azul cuando paso el cursor sobre el */
}

.imagen-usuario {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.boton-barra-lateral {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.boton-barra-lateral:hover {
    background-color: transparent;
    border: none;
}

.imagen-boton {
    height: 25px;
    width: auto;
}

.no-efecto.btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.contenedor-incidentes {
    background-color: white;
    margin: 25px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    max-height: 530px;
    height: 530px;
}

.contenedores {
    max-height: 457px;
    overflow-y: auto;
    margin-bottom: 10px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.contenedor-abierto-cerrado {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.imagen-edicion {
    height: 20px;
    width: auto;
    justify-content: center;
    align-content: center;
}

.boton-edicion {
    background-color: #E9B384;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.texto-incidente {
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
}

.titulo-incidentes {
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: large larger;
    font-weight: bold;
    text-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.boton-agregar {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #E9B384;
    margin-top: 5px;
    border-radius: 10px;
}

.descripcion-incidente {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.info-adicional {
    font-size: small;
}

.incidente {
    margin-bottom: 10px;
}

.contenedor-filtros {
    margin: 10px 0px 10px 0px;
}

.filtro {
    margin: 0px 10px 0px 10px;
}

.inactivo {
    color: #A1CCD1 !important;
}

.activo {
    background-color: #A1CCD1 !important;
    color: white !important;
}

.activo,
.inactivo {
    border-radius: 10px !important;
}

.barra-navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #A1CCD1;
    color: #fff;
    padding: 10px;
    z-index: 100;
    border-radius: 10px 10px 0px 0px;
}

.navegacion-actual {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navegacion-no-seleccionado,
.navegacion-actual {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: white;
}

.sombra-boton {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.boton {
    padding: 10px 15px;
    background-color: #E9B384;
    color: #fffbf2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin-top: 0px;
}

.iconos {
    margin-right: 15px;
    margin-left: 15px;
}

.sombra-clic {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}