.btn-close {
    margin: 10px 0px 0px 10px;
}

body {
    background-color: #fffbf2;
}

.centrado {

    margin: auto;
    top: 0;
    bottom: 0;
}

.padding {
    padding: 30px;
}

.sombra-bloques {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.formulario {
    background-color: white;
    border-radius: 10px;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto,
.texto-negrita {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 0px;
}

.texto-negrita {
    font-weight: bold;
}

.renglon {
    word-wrap: break-word;
}

.sombra-boton {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.sombra-clic {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton {
    padding: 10px 15px;
    width:140px;
    background-color: #E9B384;
    color: #fffbf2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin-top: 20px;
    text-align: center;
}


.container-info-comunidad {
    height: 85vh; /* Establecemos la altura de la ventana de visualización */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-salir-comunidad {
    padding: 5px 10px; /* Aumenta el ancho del botón ajustando el padding horizontal */
    background-color: #E9B384;
    color: #fffbf2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 10px; /* Agrega un espacio entre los botones */
    text-align: center;
    width:180px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fffbf2;
}